table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    border: 1px solid black;
    padding: 8px;
  }
  .tDetails{
    color: blue;
  }
  .tDelete{
    color: red;
    font-weight: bold;
}
  .tDetails:hover{
    cursor: pointer;
  }
  .tDelete:hover{
    cursor: pointer;
  }
  .tSortable:hover{
    cursor: pointer;
  }
  .arrow {
    float: right;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  tr:nth-child(even){background-color: #c2e4e9}